{% load static %}
<html lang="ja">

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/parent.css' %}">
  </head>
  <header>
    <h2> Cashbook on Django </h2>
    <div class="menu">
      <ul>
        <li><a href="{% url 'mainapp:summary' %}">Summary</a></li>
        <li><a href="{% url 'mainapp:index' %}">Master</a></li>
        <li><a href="{% url 'mainapp:usage' %}">Transaction</a></li>
      </ul>
    </div>
  </header>
  <body>
    {% block contents %}{% endblock %}
  </body>
  <footer>
    Pyons04© All rights reserve.
  </footer>

</html>


