{% extends 'parent.html' %}
{% load summary_helper %}
{% load static %}
 

{% block contents %}

  <h1>Summary</h1>
  <h2>期間で絞り込む</h2>
    <form method="Post">
      {% csrf_token %}
      <input name="date_from" type="date" value="{{ date_from }}"/><br>
      <input name="date_to" type="date" value="{{ date_to }}"/>
      <button type="submit">絞り込む</button>
    </form>

  <div style="width:260px; height:260px;">
    <canvas id="mycanvas" height="100" width="100"></canvas>
  </div>

  <table>

  <thead>
    <tr>
      <td>ジャンル</td>
      <td>価格</td>
      <td>概要</td>
      <td>期間合計</td>
    </tr>
  </thead>
  <tbody>
  {% for master in masters %}
  <tr>
    <td>  {{master.genre}} ({{ usages | filter_usages_count:master}})</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
    
       {% for usage in usages %}
         {% if usage.genre == master %}
         <tr>
         <td></td>
         <td> ￥{{ usage.amount }}</td>
         <td> {{ usage.description }} </td>
         <td></td>
         {% endif %}
         </tr>
       {% endfor %}
       <tr>
         <td></td>           
         <td></td>
         <td></td>
         <td>￥ {{ usages| filter_usages_sum:master}}</td>
       </tr>
  {% endfor %}
  </tbody>
</table>

{% autoescape off %}
<script>
  var data = {
    datasets: [{
      data: {{ usages| graph_data_generator}}
    }],
    labels: {{ usages| graph_label_generator}}
  };
</script>
{% endautoescape %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
<script src="{% static 'js/graph.js' %}"></script>
{% endblock %}
